block variables
  - 
    var questions = [
      {
        id: 'Q1',
        question: 'Расскажите, чем, на ваш взгляд, отличается хорошая верстка от плохой с точки зрения',
        answer: '',
        list: [
          {
            q: 'пользователя;',
            a: 'Пользователю хорошо когда сайт одинаково удобно просматривать на любом устройстве (отзывчивая/резиновая/адаптивная верстка).  Не должно быть горизонтального скролла, если только это не бухгалтерская таблица. Плохо, если элементы сайта "налезают" друг на друга, а текст сливается с фоном или плохо читается (маленький размер шрифта, или сам шрифт подобран неудачно)'
          },
          {
            q: 'менеджера проекта;',
            a: 'Для менеджера проекта главное чтобы дизайнер, программист и маркетолог были довольны версткой. А это значит, что верстка максимально соответствует макету. Верстка не должна "ехать" при изменении контента. Верстка валидна и оптимизирована для SEO (правильные теги для заголовков, необходимые атрибуты тегов, например, alt и title у img). Ну и не надо забывать про оптимизацию загрузки и доступность интерфейса ( о которой многие забывают). Сайт загружается в пределах допустимых метрик. Сайтом можно пользоваться с клавиатуры, кликабельные элементы подсвечиваются при получении фокуса через tab.',
          },
          {
            q: 'дизайнера;',
            a: 'Дизайнеру нужен пиксель-перфект. Дизайнер увидит смещение кнопки даже на 2 пикселя. Поэтому хорошая верстка для дизайнера эта та, которая полностью соответствует его макету.'
          },
          {
            q: 'верстальщика;',
            a: 'Верстальщику главное чтобы код легко читался. Необходимо соблюдать отступы в html. Грамотно подбирать имена для классов. Стили сгруппированы по логическому смыслу, чтобы легче ориентироваться и быстрее находить нужное свойство. я стараюсь придерживаться данного стиля написания кода http://codeguide.academy/html-css.html#css-order.'
          },
          {
            q: 'клиентского программиста;',
            a: 'К сожалению, я пока не работал в команде с другими разработчиками, поэтому на последние 2 пункта с ответом затрудняюсь. Но, мне кажется, что хорошая верстка должна быть с хорошей архитектурой, чтобы было понятно в какой папке и что лежит. Теги соответствуют содержимому, а названия классов помогают лучше понять структуру страницы. Верстка не едет при добавлении контента.'
          },
          {
            q: 'серверного программиста.',
            a: 'К сожалению, я пока не работал в команде с другими разработчиками, поэтому на последние 2 пункта с ответом затрудняюсь. Но, мне кажется, что хорошая верстка должна быть с хорошей архитектурой, чтобы было понятно в какой папке и что лежит. Теги соответствуют содержимому, а названия классов помогают лучше понять структуру страницы. Верстка не едет при добавлении контента.'
          },
        ]
      },
      {
        id: 'Q2',
        question: 'Опишите основные особенности верстки крупных многостраничных сайтов, дизайн которых может меняться в процессе реализации и поддержки. Расскажите о своем опыте верстки подобных сайтов: какие методологии, инструменты и технологии вы применяли на практике.',
        answer: 'Верстка должна быть модульной. Основные цвета и размеры заданы либо переменными препроцессоров, либо css переменными (если не нужна поддержка IE), чтобы можно было легко поменять дизайн элементов. Возможно, использование шаблонизаторов или препроцессоров html (например, pug) упростит верстку, если использовать миксины. /n Сейчас я работаю над многостраничным порталом. Делаю компоненты используя VueJs, БЭМ-нейминг. Стараюсь разбивать дизайн на множество мелких компонентов. До этого с многостраничниками не сталкивался.'
      },
      {
        id: 'Q3',
        question: 'Опишите основные особенности верстки сайтов, которые должны одинаково хорошо отображаться как на любом современном компьютере, так и на смартфонах и планшетах под управлением iOS и Android. Расскажите о своем опыте верстки подобных сайтов: какие инструменты и технологии вы применяли, как проверяли результат на различных устройствах, какие именно устройства требовалось поддерживать.',
        answer: 'Я думаю, что верстка должны быть отзывчивой, то есть резиновой и с медиавыражениями для перестройки макета когда это необходимо. Идеально начинать верстку с дизайна для мобильных, так как усложнять всегда проще, чем упрощать, а мобильный дизайн проще из-за меньшей ширины экрана. Но макет для десктопа всегда присылают первым, и я не пока не работал по принципу "сначала мобильные". Размеры элементов желательно задавать в относительных величинах % или rem/em (для отступов). Размеры шрифта лучше, наверное, задавать в rem или em, чтобы размер менять только у тега html, а не у каждого элемента Разные размеры изображений под различные разрешения экрана и под ретина экраны. У мобильного safari есть свои особенности (https://habrahabr.ru/post/332872/ эта статья у меня в закладках). Я стараюсь делать верстку максимально резиновой, и использую медиавыражения по основным разрешениям (1440, 1280, 960, 768, 480 и 320, не все сразу, а в зависимости от сложности макета). Верстку подгоняю под устройства на которых тестирую, поэтому иногда получается так, что в промежутках между брейкпоинтами появляется скролл или некоторые элементы наезжают друг на друга. Это не правильно, но часто мне не хватает опыта быстро решить эту проблему, а на основных устройствах выглядит по макету. Проверяю результат с помощью Chrome DevTools и устройств что есть под рукой (чаще всего это IPhone 5c, Google Nexus 7 и пара андроид смартфонов). К сожалению, у меня нет возможности проверять верстку на ретина дисплеях.'
      },
      {
        id: 'Q4',
        question: 'Расскажите, какие инструменты помогают вам экономить время в процессе написания, проверки и отладки кода.',
        answer: ''
      },
      {
        id: 'Q5',
        question: 'Вам нужно понять, почему страница отображается некорректно в Safari на iOS и в IE на Windows. Код писали не вы, доступа к исходникам у вас нет. Ваши действия? Сталкивались ли вы с подобными проблемами на практике?',
        answer: ''
      },
      {
        id: 'Q6',
        question: '',
        answer: ''
      },
      {
        id: 'Q7',
        question: '',
        answer: ''
      },
      {
        id: 'Q8',
        question: '',
        answer: ''
      },
    ];