@import '../_misc/variables.scss';

.container {
  width: calc(100% - 20px);
  max-width: $container-width;
}

.page-title {
  margin-bottom: 25px;
  text-align: center;
  color: #ffffff;
  font-family: Exo, sans-serif;
  text-shadow: 0 1px 1px #000000;
}

.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -10px;

  @include respond-to(tablet) {
    justify-content: center;
    margin: 0;
  }
}