@import '_misc/variables.scss';

@font-face {
  font-family: 'Exo';
  src: url('../fonts/Exo20-Thin.woff2') format('woff2'),
      url('../fonts/Exo20-Thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-size: $root-font-size;
}
body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Trebuchet MS', sans-serif;
}
p,
h1, 
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-position: inside;
}

label {
  cursor: pointer;
}

@import 'pages/main.scss';
@import 'components/product-card.scss';
