include ../_misc/mixin

+section('about', 'About Me')
  .section__description
    p.
      Меня зовут Сергей. Прошу рассмотреть мою кандидатуру на вакансию «Фронтенд-разработчик (HTML/CSS/JS)».
    p.
      Более 9 лет я работал в области технической поддержки пользователей и системного администрирования, но решил сменить сферу деятельности. 
    p.
      Web-разработкой занимаюсь почти 2 года. Сначала, параллельно с основной работой, начал обучение web-разработке в GeekBrains. Затем успешно (с отличием) закончил курсы онлайн-школы Loftschool "Продвинутый курс по веб-разработке" и "Комплексное обучение JavaScript". Выполнял небольшие задания по верстке на фрилансе.
    p.
      Последний год работаю над внутренним учебным порталом компании. Интерфейс пишем на vuejs, серверную часть - на платформе SP-XML (javascript-подобный язык, написанный компанией WebSoft).
    p.
      Сейчас нахожусь в поиске более сложных и интересных проектов, с использованием современных технологий и методологий. Хочу найти работу в команде профессионалов, с которыми можно будет делиться опытом, а, следовательно, расти и развиваться!
