include ../_misc/mixin

+section('level2', 'Level 2', 'section__title_color_orange')
  .section__description
    p.
      В этом разделе представленны ссылки на реализацию тестового задания.
    a(href="https://github.com/geekorn/qt-funbox") Ссылка на репозиторий
    br
    a(href="/level2.html") Ссылка на результат