.product { 
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
  
  @include respond-to(phone) {
    padding: 10px 0;
  }

  &__checkbox {
    position: absolute;
    left: -9999px;
    opacity: 0;

    &:checked {
      + .card {
        background:linear-gradient(135deg, transparent 29px, $color-selected 0);

        .card__weight {
          background-color: $color-selected;
        }
        .card__description {
          &_state_default,
          &_state_ended {
            display: none;
          }
          &_state_selected {
            display: block;
          }
        }
      }

      + .card_selected:hover {
        background:linear-gradient(135deg, transparent 29px, $color-selected-hover 0);

        .card__weight {
          background-color: $color-selected-hover;
        }

        .card__category {
          &_state_default {
            display: none;
          }
          &_state_selected {
            display: block;
          }
        }
      }
    }

    &:disabled {
      + .card {
        background:linear-gradient(135deg, transparent 29px, $color-disabled 0);
        cursor: auto;

        .card__wrapper > *:not(.card__weight):not(.card__footer) {
          color: $color-disabled;
          opacity: 0.5;
        }
        // .card__wrapper .card__description {
        //   opacity: 1;
        // }

        .card__weight {
          background-color: $color-disabled;
        }

        .card__description {
          &_state_default,
          &_state_selected {
            display: none;
          }
          &_state_ended {
            display: block;
          }
        }
      }
    }
  }

  &__card {
    flex-grow: 1;
  }
}

.card {
  position: relative;
  box-sizing: border-box;
  display: block;
  min-width: $card-width;
  height: 100%;
  margin-bottom: 30px;
  padding: 4px;
  border-radius: 11px;
  background:linear-gradient(135deg, transparent 29px, $color-default 0);
  cursor: pointer;

  &:hover {
    background:linear-gradient(135deg, transparent 29px, $color-default-hover 0);

    .card__weight {
      background-color: $color-default-hover;
    }
  }

  &__wrapper {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    padding-top: 20px;
    padding-left: 44px;
    padding-bottom: 285px;
    padding-right: 20px;
    border-radius: 9px;
    background: linear-gradient(135deg, transparent 28px, #ffffff 0);
  }


  &__category {
    margin-bottom: 8px;
    color: $color-text-light;

    &_state_selected {
      display: none;
      color: $color-selected-hover;
    }
  }

  &__title {
    font-size: rem(48px);
    line-height: 1;
  }

  &__subtitle {
    margin-bottom: 17px;
    font-size: rem(24px);
    font-weight: bold;
  }

  &__image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 270px;
    background: url('../images/cat.png') no-repeat 50% 0;
    border-radius: inherit;
  }
  &__weight {
    position: absolute;
    bottom: 12px;
    right: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 81px;
    height: 81px;
    border-radius: 50%;
    background-color: $color-default;
    color: #ffffff;
    text-align: center;
    font-size: rem(21px);

    > span:first-child {
      padding-top: 4px;
      font-size: rem(42px);
      line-height: 1;
    }
  }

  &__footer {
    position: absolute;
    top: 100%;
    left: 0;
    width: calc(100% + 4px);
    padding-top: 20px;
  }
    
  &__description {
    display: none;
    text-align: center;
    font-size: rem(13px);
    color: #ffffff;
    text-shadow: 0 1px 1px #000000;

    &_state_ended {
      color: $color-disabled-description;
    }
    &_state_default {
      display: block;
    }
  }
  &__link {
    position: relative;
    border-bottom: 1px dashed $color-default;
    color: $color-default;
    cursor: pointer;

    &:hover {
      border-bottom: none;
    }
  }
}

.options {
  color: $color-text-light;
  font-size: rem(14px);

  &__count {
    font-weight: bold;
  }
}