extends ../_template
include ../components/product-card

include ../_misc/variables

block content
  h1 Ты сегодня покормил кота?
  .container
    .products
      each item in products 
       +productCard(item)
        
      
      