extends ../_template
include ../components/product-card

include ../_misc/variables

block content
  .flexContainer
    .wrapper
      .container
        h1.page-title Ты сегодня покормил кота?
        .products
          each item in products 
            +productCard(item)
        
      
      